body {
    justify-content: center;
    display: grid;
    background-color: dimgrey;
}

.welcome {
    margin-top: 40px;
    text-align: center;
    font-size: 60px;
    color: dodgerblue;
}

#board {
    margin: 40px;
    height: 800px;
    width: 800px;
    display: grid;
    background-color: cornsilk;
}

#boardGrid {
    display: grid;
}

#buttons {
    margin: 40px;
    justify-content: center;
    display: inline-flex;
}

.sizeBtn {
    margin-right: 10px;
    height: 50px;
    width: 120px;
    border-radius: 8px;
    background-color: rgb(0, 140, 255);
    font-size: 20px;
}

.resetBtn {
    margin-left: 10px;
    height: 50px;
    width: 120px;
    border-radius: 8px;
    background-color: red;
    font-size: 20px;
}